body {
	margin: 0;
	padding: 0;
	color: white;
	background-image: url("beer.jpg");
}

.container {
	margin: 0px 120px;
	text-align: center;
}

.none-disk {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.images {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5;
}

.row-images {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;

}